<div class="container-fluid bg-black">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3 p-lg-5">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <img src="./assets/brand.png">
      </a>
      <p class="text-muted">&copy; {{ year }}</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5 class="text-white">Categorie</h5>
      <ul class="nav flex-column">
       <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>-->
        <ng-container *ngFor="let cat of categorie;let i = index">
          <ng-container *ngIf="i<=6">
            <li><a href="#" class="nav-link p-0 text-muted">{{ categorie[categorie.length-1 -i].nom }}</a></li>
          </ng-container>
        </ng-container>

      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>
  </footer>
</div>
